/**
 * Spacing utilities
 *
 * 1. We want -half to be displayed in modifiers for spacing(0.5) since class names can't contain dot.
 * 2. Gets a character after dash
 *
 */

$u-space-units: 0, 0.5, 1, 2, 3, 4, 5;

@mixin generate-spacing-classes-for($margin, $responsive-size) {
    @each $spacing in $u-space-units {
        $spacing-label: $spacing;
        $classname:'';
        $responsive-label:'';

        @if $margin == margin {
            @if $spacing == 0.5 {
                $spacing-label: half; // 1
            }
            $classname: space-#{$spacing-label};
        } @else {
            @if $spacing == 0.5 {
                $spacing-label: -half; // 1
            }
            $side-abbr: str-slice($margin, 8, 8); // 2
            $classname: space-#{$side-abbr}#{$spacing-label};
        }

        @if ($responsive-size != ''){
            $responsive-label: #{$responsive-size}#{'-'};
        }

        .u-#{$responsive-label}#{$classname} {
            #{$margin}: spacing($spacing) !important;
        }
    }
}

$margin-list: margin, margin-left, margin-right, margin-top, margin-bottom;

@each $each-margin in $margin-list {
    @include generate-spacing-classes-for($each-margin, '');
}

@include responsive-small {
    .responsive {
        @each $each-margin in $margin-list {
            @include generate-spacing-classes-for($each-margin, 'sm');
        }
    }
}

@include responsive-medium {
    .responsive {
        @each $each-margin in $margin-list {
            @include generate-spacing-classes-for($each-margin, 'md');
        }
    }
}
